<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdsty.orderservice.mapper.OrderMapper">
    <insert id="insertOrder">
        INSERT INTO tb_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test='null != orderId'>
                order_id,
            </if>
            <if test='null != userId'>
                user_id,
            </if>
            <if test='null != totalPrice'>
                total_price,
            </if>
            <if test='null != status'>
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="payEndTime != null">
                pay_end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='null != orderId'>
                #{orderId},
            </if>
            <if test='null != userId'>
                #{userId},
            </if>
            <if test='null != totalPrice'>
                #{totalPrice},
            </if>
            <if test='null != status'>
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="payEndTime != null">
                #{payEndTime},
            </if>
        </trim>
    </insert>
    <update id="updateOrder">
        UPDATE tb_order
        SET status = #{status}
        WHERE order_id = #{orderId}
    </update>
    <select id="getOrder" resultType="com.xdsty.orderservice.entity.Order">
        SELECT o.status AS status,
               o.total_price AS totalPrice,
               o.create_time AS createTime,
               o.pay_end_time AS payEndTime
        FROM tb_order o
        WHERE o.user_id = #{userId} AND o.order_id = #{orderId}
    </select>
    <select id="getOrderListByUserAndStatus" resultType="com.xdsty.orderservice.entity.Order">
        SELECT o.order_id AS orderId,
               o.status AS status
        FROM tb_order o
        WHERE o.user_id = #{userId} AND o.status IN
        <foreach collection="statusList" item="status" separator="," open="(" close=")">
            #{status}
        </foreach>
    </select>
    <select id="getOrderPage" resultType="com.xdsty.orderservice.entity.Order">
        SELECT o.order_id AS orderId,
               o.total_price AS totalPrice,
               o.status AS status
        FROM tb_order o
        WHERE user_id = #{userId}
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>