<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdsty.orderservice.mapper.OrderProductMapper">
    <insert id="addOrderProduct">
        INSERT INTO tb_order_product(order_id, product_id, product_num, product_price)
        VALUES
        <foreach collection="products" item="product" separator=",">
            (#{product.orderId}, #{product.productId}, #{product.productNum}, #{product.productPrice})
        </foreach>
    </insert>
</mapper>