<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdsty.productservice.mapper.ProductMapper">
    <select id="selectProductList" resultType="com.xdsty.productclient.re.ProductListRe">
        SELECT pe.id AS productId,
        p.product_name AS productName,
        p.thumbnail AS thumbnail,
        pe.price AS price
        FROM tb_product_extend pe
        JOIN tb_product p ON pe.product_id = p.id
        WHERE pe.city_id = #{cityId}
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="selectOne" resultType="com.xdsty.productservice.entity.Product">
        SELECT pe.id AS productExtendId,
        pe.product_id AS productId,
        p.product_name AS productName,
        p.thumbnail AS thumbnail,
        pe.cut_off_time AS cutOffTime,
        pe.price AS price
        FROM tb_product_extend pe
        JOIN tb_product p ON pe.product_id = p.id
        WHERE pe.id = #{id}
    </select>
    <select id="selectProductBanner" resultType="java.lang.String">
        SELECT t.img_url
        FROM tb_product_banner t
        WHERE t.product_id = #{productId}
    </select>
    <select id="selectProductDetailImg" resultType="java.lang.String">
        SELECT t.img_url
        FROM tb_product_img t
        WHERE t.product_id = #{productId}
    </select>
    <select id="selectAdditionalItem" resultType="com.xdsty.productservice.entity.AdditionalItem">
        SELECT t.id AS id,
        t.name AS name,
        t.price AS price
        FROM tb_product_additional t
        WHERE t.product_id = #{productId}
    </select>
    <select id="selectProductListByIds" resultType="com.xdsty.productservice.entity.Product">
        SELECT pe.id AS productExtendId,
        pe.price AS price,
        p.product_name AS productName,
        p.thumbnail AS thumbnail
        FROM tb_product_extend pe JOIN tb_product p ON pe.product_id = p.id
        WHERE pe.id IN
        <foreach collection="productIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND pe.status = 1
        ORDER BY pe.id
    </select>
    <select id="selectAdditionalItemByIds" resultType="com.xdsty.productservice.entity.AdditionalItem">
        SELECT pa.id AS id,
        pa.price AS price,
        pa.name AS name
        FROM tb_product_additional pa
        WHERE pa.id IN
        <foreach collection="itemIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="valid = true">
            AND pa.status = 1
        </if>
        ORDER BY pa.id
    </select>
    <select id="selectValidProduct" resultType="java.lang.Long">
        SELECT pe.id
        FROM tb_product_extend pe
        WHERE pe.id = #{productId}
        AND pe.status = 1
    </select>
    <select id="selectValidAdditionalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_product_additional pa
        WHERE pa.id IN
        <foreach collection="itemIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectOrderProductListByIds" resultType="com.xdsty.productservice.entity.Product">
        SELECT pe.id AS productExtendId,
        pe.price AS price,
        p.product_name AS productName,
        p.thumbnail AS thumbnail
        FROM tb_product_extend pe JOIN tb_product p ON pe.product_id = p.id
        WHERE pe.id IN
        <foreach collection="productIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        ORDER BY pe.id
    </select>
</mapper>